package fr.inria.lang.vm.examples.MOTIV {

@name "Video Content Generator"
@version 0.2
@description "Created as motivating example for ISSTA 2014 conference paper"
@author "Mauricio AlfŽrez"
@email mauricio.alferez@inria.fr
@organization "INRIA, Rennes, France"
@date "August, 2013, updated in Fev 2014"

Relationships:
scene{
	background {
		oneOf {
			urban
			countryside
		}
	}
	? objects {
		someOf {
	 		vehicles
			humans
		}
	}
}
Attributes:
int humans.numberOf [0..10]
int vehicles.dustAmount[0..10]

Constraints:
vehicles.dustAmount > 5 -> countryside == 1
urban -> humans.numberOf > 40

}
